# IDE: Goland
.idea/

# IDE: VS Code
.vscode/

build/

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

raw-report.json
test/k8s/k8s.test