name: "Perf tests on EKS"
run-name: "Perf tests on EKS - KM ${{ inputs.mesh_version != '' && inputs.mesh_version || 'latest' }}, ${{ inputs.num_services }} services, ${{ inputs.instances_per_service }} instances per service"

on:
  schedule:
    - cron: "0 0 * * 1-5"
  workflow_dispatch:
    inputs:
      mesh_version:
        description: "Mesh version, if not specified, then version is the latest commit from kong/kong-mesh@master"
        type: string
      num_services:
        description: "Number of services to run during testing"
        type: number
        default: 1000
        required: true
      instances_per_service:
        description: "Number of instances per service to run during testing"
        type: number
        default: 2
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  perf-test:
    runs-on: ubuntu-latest
    env:
      PERF_TEST_NUM_SERVICES: ${{ inputs.num_services || 1000 }}
      PERF_TEST_INSTANCES_PER_SERVICE: ${{ inputs.instances_per_service || 2}}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      ENV: eks
      INIT: true
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/mesh-perf-ci
          role-duration-seconds: 7200
          aws-region: us-west-1
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Get version
        id: version
        run: |
          version="${{ inputs.mesh_version }}"
          if [[ -z "${version}" ]]; then
            version=$(curl --silent -L https://docs.konghq.com/mesh/installer.sh | VERSION=preview sh -s - --print-version | tail -n1)
          fi
          echo "PERF_TEST_MESH_VERSION=${version}" >> ${GITHUB_ENV}
      - name: Start cluster
        run: make infra/create
      - name: Run tests
        env:
          PERF_TEST_STABILIZATION_SLEEP: 30s
          KMESH_LICENSE_JSON: |
            ${{ secrets.KMESH_LICENSE_JSON }}
        run: |
          KMESH_LICENSE=<(printenv KMESH_LICENSE_JSON) PERF_TEST_MESH_VERSION="${{ env.PERF_TEST_MESH_VERSION }}" make run
      - name: Run resource limits tests
        env:
          PERF_LIMIT_MEGA_MEMORY: 384
          # 100 dp = 20x5
          PERF_TEST_INSTANCES_PER_SERVICE: 5
          PERF_TEST_NUM_SERVICES: 20
          PERF_TEST_STABILIZATION_SLEEP: 30s
          KMESH_LICENSE_JSON: |
            ${{ secrets.KMESH_LICENSE_JSON }}
        run: |
          KMESH_LICENSE=<(printenv KMESH_LICENSE_JSON) PERF_TEST_MESH_VERSION="${{ env.PERF_TEST_MESH_VERSION }}" make run/limits | tee /tmp/limits.out
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: test-metrics-snapshot
          path: /tmp/prom-snapshots
          retention-days: 14
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: test-reports
          path: /tmp/perf-test-reports
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: limits-output
          path: /tmp/limits.out
      - name: submit logs to Datadog
        if: always()
        env:
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_APP_KEY: ${{ secrets.DD_APP_KEY }}
        run: |
          go run ./tools/reports/main.go /tmp/perf-test-reports/*
      - name: Destroy cluster
        if: always()
        run: make infra/destroy
